[submodule "capstone"]
	path = capstone
	url = https://github.com/aquynh/capstone.git
	branch = master
[submodule "asmjit"]
	path = asmjit
	url = https://github.com/asmjit/asmjit.git
	branch = next-wip